<% layout('layouts/boilerplate')  %>
<link rel="stylesheet" href="/css/spinner.css">


    <div class="row my-5" id="content">
        <div class="col-6 offset-3">
        <h1 class="text-center mt-3">create new camp</h1>
            <form action="/campground" method="post" class="validated-form" novalidate enctype="multipart/form-data" id="campForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" name="campground[title]" required>
                    <div id="titleHelp" class="form-text">create your camp title</div>
                    <div class="valid-feedback">look good!</div>
                </div>

             <div class="mb-3">
                 <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="campground[price]" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">look good!</div>

                </div>
             </div>

                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">look good!</div>

                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea type="number" class="form-control" id="description" name="campground[description]" required> </textarea>
                    <div class="valid-feedback">look good!</div>

                </div>
                <div class="mb-3">
                    <label for="imgs" class="form-label">Upload Images</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="imgs" name="imgs" accept="image/*" multiple required>
                        <label class="input-group-text" for="imgs">Browse</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

<%- include('../partials/spinner')%>
<script src="/javascript/showSpinner.js"></script>







